<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<table class='table table-striped table-hover light-background'>
				<thead>
					<th>Course</th>
					<th width="12%">Date Started</th>
					<th>Progress</th>						
					<th >Action</th>
				</thead>

				<tbody>
					<tr	ng-repeat='course in vm.courses'>
						<td class="text-center vert-align">{{course.name}}</td>
						<td class="text-center vert-align">{{course.dateStarted | date: "MM-dd-yyyy"}}</td>
						<td class="text-center vert-align">{{course.progress}}%</td>
						<td class="text-center vert-align"><button ng-click="vm.open(course)">Launch Course</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>