<navigation>Load nav</navigation>

<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<table class='table table-striped table-hover light-background'>
				<thead>
					<th>Course</th>
					<th width="12%">Date Started</th>
					<th>Progress</th>
					<th>Action</th>
				</thead>

				<tbody>
					<tr ng-repeat="courseEnrollment in vm.courseEnrollments | orderBy: 'course.name'">
						<td class="text-center vert-align">{{courseEnrollment.course.name}}</td>
						<td class="text-center vert-align">{{courseEnrollment.dateStarted
							| date: "MM-dd-yyyy"}}</td>
						<td class="text-center vert-align">{{courseEnrollment.progress}}%</td>
						<td class="text-center vert-align"><button
								ng-click="vm.launch(courseEnrollment)">Launch Course</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>