<div class = "col-md-3 light-background centered">
 <h4>{{vm.course.name}}</h4>
 <br>
 <p>
 	<round-progress
    max="100"
    current="vm.course.progress"
    color="#45ccce"
    bgcolor="#eaeaea"
    radius="100"
    stroke="20"
    semi="true"
    rounded="true"
    clockwise="true"
    responsive="false"
    duration="800"
    animation="easeInOutQuart"
    animation-delay="0"></round-progress>
 </p>
 <p>Progress: {{vm.course.progress}}%</p>
</div>
<div class = "col-md-8">
	
			<div class="panel panel-default">
				<div class="panel-heading text-center"><strong>{{vm.currentStep.title}}</strong></div>
				<div class="panel-body">
					<div class="row">
						<div class='col-md-5'>
							<img class='singleicon' src="{{vm.currentStep.imageUrl}}">
						</div>
						<div ng-hide="vm.showQuiz" class='col-md-7'>
							<p>
								{{vm.currentStep.description}}
							</p>							
						</div>
						
						<div ng-show="vm.showQuiz" class='col-md-7'>
							<h4>True or False?</h4>
							<p>
								{{vm.currentStep.question}}
							</p>
							<input ng-model="vm.answer" type="radio" name="answer" value="A"> True<br>							
							<input ng-model="vm.answer" type="radio" name="answer" value="B"> False<br>	
							<br>
							<button ng-show="vm.answer" class="btn btn-default" ng-click="vm.submitAnswer()">Submit</button>						
						</div>
						
					</div>
					<div class="row" id="showitembuttons">
						<div class='col-md-offset-2 col-md-8 text-center'>
							<button ng-hide="vm.showQuiz" class="btn btn-default" ng-click="vm.showQuiz = true;">Quiz</button>
							
							<button ng-show="vm.answered" class="btn btn-default" ng-click="vm.nextItem()">Next</button>
						</div>
					</div>
				</div>
			
	</div>
</div>